<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GorviApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GorviApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ListPictogramsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LettersActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- Meta-data for supporting API 25 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NumbersScrambleActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- Meta-data for supporting API 25 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.PictogramActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- Meta-data for supporting API 25 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.admin.AddPictogramActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">

            <!-- Meta-data for supporting API 25 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ShowPictogramActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.admin.DisplayPictogramsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>